In [6]:
import mysql.connector as mysql_conn
import pandas as pd

In [7]:
mydb=mysql_conn.connect(host='localhost',user='root',password='12345',database='quiz_project')
curs=mydb.cursor()

In [5]:
curs.execute("select * from quiz_names order by id asc")
var1=curs.fetchall()

df = pd.DataFrame(var1, columns=['ID','Quiz Name'])
df

   ID Quiz Name
0   1    Python

In [8]:
count=0
total_question=0

quiz_id=int(input("which Quiz do you want to Attend, Enter its corresponding ID : "))

query = "SELECT * FROM quiz_questions WHERE id = %s ORDER BY q_no ASC"
curs.execute(query, (quiz_id,))
rows=curs.fetchall()

print()

for r in rows:
    total_question+=1
    id1=r[0]
    q_no1=r[1]
    print(total_question,". ",r[2])
    query1="select * from quiz_options where id= %s and q_no= %s order by option_no asc "
    curs.execute(query1, (id1,q_no1,))
    rows1=curs.fetchall()
    for r1 in rows1:
        print("\t",r1[2],") ",r1[3])
    ans=int(input("Enter your option : ")) 
    query2="Select option_no from quiz_answers where id=%s and q_no=%s"
    curs.execute(query2, (id1,q_no1,))
    correct=curs.fetchone()  
    
    if(ans==correct[0]):
        count+=1
        print("Correct\n\n")
        
    else:
        print("incorrect")
        print("correct option : ",correct[0],"\n\n")
print("---------------------------------------------------------------------------------\n")
print("Total Number of Questions   : ",total_question)
print('Correct Answers             : ',count)
print("Wrong Answers               : ",total_question-count)
per=(count/total_question)*100
print("Your final Score Card       : ",per,"% ")

which Quiz do you want to Attend, Enter its corresponding ID :  1

1 .  Which of the following is used for single-line comments in Python?
	 1 )  //
	 2 )  #
	 3 )  /*  */
	 4 )  --

Enter your option :  2

Correct


2 .  What does the len() function do in Python?
	 1 )  Returns the length of a list or string
	 2 )  Returns the largest element in a list
	 3 )  Returns the smallest element in a list
	 4 )  Returns the sum of elements in a list

Enter your option :  3

incorrect
correct option :  1


3 .  What is the purpose of the break statement in a loop?
	 1 )  Skips the current iteration and continues with the next one
	 2 )  Exits the loop prematurely
	 3 )  Continues to the next iteration of the loop
	 4 )  Restarts the loop from the beginning

Enter your option :  2

Correct


---------------------------------------------------------------------------------

Total Number of Questions   :  3
Correct Answers             :  2
Wrong Answers               :  1
Your final Score Card       :  66.66666666666666 %

In [ ]:
curs.close()
mydb.close()